.storePage__headerBanner {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1967d2;
    color: white;
}

.BannerTitle > a {
    color: white;
}

.storePage__headerLogo {
    width: 20px;

}

.storePage__headerOptions {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.storePage__headerOptionsLeft,
.storePage__headerOptionsRight {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.storePage__headerOptionRight > a,
.storePage__headerOption > a{
    text-decoration: none;
    margin: 6px;
    color: grey;
}

.storePage__headerOptionRight,
.storePage__headerOption {
    margin: 0 8px;
    color: grey;
}

.modal__menu {
    display: none;
}

.storePage__headerOption:hover,
.storePage__headerOptionRight:hover {
    cursor: pointer;
    color: #1967d2;
}

.storePage__bodyHero {
    background: linear-gradient(rgb(120, 219, 255),rgb(254, 201, 210));
    height: 70vh;
    display: flex;
}

.bodyHeroLeftTitle {
    font-size: 64px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.756)
}
.bodyHeroLeftSubTitle {
    line-height: 1.5;
    color:rgba(0, 0, 0, 0.756);
    margin: 8px 0;
}
.storePage__bodyHeroLeft {
    padding: 128px;
}

.bodyHeroButtons {
    margin: 16px 0;
    display: flex;
}

.bodyHeroButton {
    padding: 8px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.756);
    display: flex;
    align-items: center;
}

.outline {
    border: 2px solid rgba(0, 0, 0, 0.756);
    border-radius: 5px;
}
.storePage__bodyHeroRight,
.storePage__bodyHeroLeft {
    width: 50%;
}
.storePage__bodyHeroRight{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bodyHeroRightImage {
    width: 100%;
}


/* MOBILE RESPONSIVE */

@media (max-width: 900px) {
    .storePage__headerOption {
        display: none;
    }

    .modal__menu {
        display: flex;
        color: darkgray;
    }

    .storePage__headerOptions {
        margin: 0 8px;
        width: 100%;
    }
    
    .storePage__headerLogo {
        margin-left: 24px;
    }

    .storePage__bodyHero {
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .storePage__bodyHeroLeft,
    .storePage__bodyHeroRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}

@media (max-width: 500px) { 
    .BannerTitle {
        font-size: 12px;
    }
}